body
	margin-top: 0px
	margin-bottomg: 0px
	margin-left: 0px
	margin-right: 0px
	font-family: 'Lato', sans-serif

#header
	height: 700px
	width: 100%
	background-image: url("images/intro.jpg")
.name
	position: relative
	top: 100px
	font:
		size: 72px
		weight: 100
	letter-spacing: 0.05em
	color: white
	text-align: center
	span
		display: inline-block
		padding: .5em
		border: white solid 5px
.desc
	position: relative
	top: 150px
	color: white
	text-align: center
	letter-spacing: 0.7em
#container
	height: 150px
	width: 100%
#about
	display: inline-block
	margin-left: 65px
	width: 20%
	height: 150px
	background: white
	text-align: center
	transition: 0.3s
	a
		font:
			size: 1.5em
		text-decoration: none
		color: #191919
		letter-spacing: 0.3em
		position: relative
		top: 55px
		transition: 0.3s
#about:hover
	background: #191919
	a
		color: white
#showcase
	display: inline-block
	margin-left: 65px
	width: 20%
	height: 150px
	background: white
	text-align: center
	transition: 0.3s
	a
		font:
			size: 1.5em
		text-decoration: none
		color: #191919
		letter-spacing: 0.3em
		position: relative
		top: 55px
		transition: 0.3s
#showcase:hover
	background: #191919
	a
		color: white
#value
	display: inline-block
	margin-left: 65px
	width: 20%
	height: 150px
	background: white
	text-align: center
	transition: 0.3s
	a
		font:
			size: 1.5em
		text-decoration: none
		color: #191919
		letter-spacing: 0.3em
		position: relative
		top: 55px
		transition: 0.3s
#value:hover
	background: #191919
	a
		color: white
#contact
	display: inline-block
	margin-left: 65px
	width: 20%
	height: 150px
	background: white
	text-align: center
	transition: 0.3s
	a
		font:
			size: 1.5em
		text-decoration: none
		color: #191919
		letter-spacing: 0.3em
		position: relative
		top: 55px
		transition: 0.3s
#contact:hover
	background: #191919
	a
		color: white
#bio
	display: inline-block
	width: 100%
	height: 750px
	background: #e5e5e5
	.right
		text-align: left
	#me
		width: 25%
		position: relative
		top: 150px
		left: 370px
		text-align: right
		color:  #191919
		span
		display: inline-block
		padding: .5em
		border: #191919 solid 2px

footer
	width: 100%
	height: 150px
	background-image: url("images/intro2.jpg")
	color: white
	text-align: center
	font:
		size: 15px
	letter-spacing: 0.3em
	p
		position: relative
		top: 70px